# Virtual Environment Files 
.env 
.venv 
env/
.env/ 
venv/
.venv/ 
ENV/ 
env.bak/ 
venv.bak/ 

# Ignore Docker files
.dockerignore
docker-compose.yml
docker-compose.override.yml

# Ignore database files
*.sqlite3

# Ignore static files
/static/

# Ignore media files
/media/

# Ignore log files
*.log

# Ignore IDE files
.vscode/
.idea/

# Ignore Django & Python files #
*.log
*.pot
*.pyc
__pycache__
*.py[cod]
*$py.class
*.so
htmlcov/
.coverage
.coverage.*
.pytest_cache/

# JIRA plugin
atlassian-ide-plugin.xml

# Distribution / packaging 
.Python build/ 
develop-eggs/ 
dist/ 
downloads/ 
eggs/ 
.eggs/ 
lib/ 
lib64/ 
parts/ 
sdist/ 
var/ 
wheels/ 
*.whl
*.egg-info/ 
.installed.cfg 
*.egg 
*.manifest 
*.spec

# Unit test / coverage reports 
htmlcov/ 
.tox/ 
.coverage 
.coverage.* 
.cache 
.pytest_cache/ 
nosetests.xml 
coverage.xml 
*.cover 
.hypothesis/

# celery 
celerybeat-schedule.*

# Backup files # 
*.bak 

# AWS User-specific
.idea/**/aws.xml

# JIRA plugin
atlassian-ide-plugin.xml

# Installer logs 
pip-log.txt 
pip-delete-this-directory.txt 

# Jupyter Notebook 
.ipynb_checkpoints  

# celery 
celerybeat-schedule.* 

# sftp configuration file 
sftp-config.json

# Visual Studio Code # 
.vscode/* 
!.vscode/settings.json 
!.vscode/tasks.json 
!.vscode/launch.json 
!.vscode/extensions.json 
.history